# 如果要从更高级别的目录继承 .editorconfig 设置，请删除以下行
root = true

[*.csproj]
indent_size = 2

[*.nuspec]
indent_size = 2

[*.targets]
indent_size = 2

# c# 文件
[*.cs]

#### Core EditorConfig 选项 ####

# 缩进和间距
indent_size = 4
indent_style = space
tab_width = 4

# 新行首选项
end_of_line = crlf
insert_final_newline = false